In [42]:
import requests
import json
from pprint import pprint
import pandas as pd
from config import api_key

In [43]:
headers = {'Authorization': 'Bearer %s' % api_key}

### When done this way it only pulls California so I tried another approach using states

In [44]:
# url='https://api.yelp.com/v3/businesses/search'
 
# # In the dictionary, term can take values like food, cafes or businesses like McDonalds
# params = {'location':'United States','limit':'50','term':'wineries'}
# # Making a get request to the API
# response=requests.get(url, params=params, headers=headers).json()
# pprint(response)

### This will pull up to ten wineries per state, but the price (s_p) will not work so on all so I put a space for the empty ones

In [41]:
states = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Georgia','Hawaii',
         ' Idaho','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota',
          'Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico'',New York','North Carolina',
          'North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina',
          'South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']
url='https://api.yelp.com/v3/businesses/search'
s_name = []
s_city =[]
s_state = []
s_category =[]
s_p = []
s_rating=[]
s_review = []
s_transaction=[]
j=0

for s in states:
    
    param = {'location':s,'limit':'10','term':'wineries'}
    responses=requests.get(url, params=param, headers=headers).json()
    j=0
    
    for bus in responses['businesses']:
        
        try:

            s_name.append(responses['businesses'][j]['name'])
            s_city.append(responses['businesses'][j]['location']['city'])
            s_state.append(responses['businesses'][j]['location']['state'])
            s_category.append(responses['businesses'][j]['categories'])
            s_rating.append(responses['businesses'][j]['rating'])
            s_review.append(responses['businesses'][j]['review_count'])
            s_transaction.append(responses['businesses'][j]['transactions'])
            s_p.append(responses['businesses'][j]['price'])
        except:
            s_p.append(" ")
        j+=1
            

    

s_wine_df = pd.DataFrame({"Business Name":s_name,"City":s_city,"State":s_state,"Category":s_category,"Rating":s_rating, "Price":s_p, "Review Count":s_review,"Transaction":s_transaction})

s_wine_df

,Business Name,City,State,Category,Rating,Price,Review Count,Transaction
0,Ozan Vineyard & Winery,Calera,AL,"[{'alias': 'winetours', 'title': 'Wine Tours'}...",4.0,$$,33,[]
1,Cat-n-Bird Winery,Chelsea,AL,"[{'alias': 'wineries', 'title': 'Wineries'}, {...",5.0,$$,20,[]
2,Corbin Farms Winery,Calera,AL,"[{'alias': 'newamerican', 'title': 'American (...",4.5,$$,44,"[delivery, pickup]"
3,Morgan Creek Vineyards,Harpersville,AL,"[{'alias': 'wineries', 'title': 'Wineries'}, {...",4.0,$$,19,[]
4,Hidden Meadow Vineyard,Jemison,AL,"[{'alias': 'winetastingroom', 'title': 'Wine T...",3.0,$,2,[]
...,...,...,...,...,...,...,...,...
369,The Village Cheese Shop,Wauwatosa,WI,"[{'alias': 'cheese', 'title': 'Cheese Shops'},...",4.5,$$,17,[delivery]
370,Sunshine Winery,Cedarburg,WI,"[{'alias': 'wineries', 'title': 'Wineries'}]",5.0,,1,[]
371,Cooper's Hawk Winery & Restaurant - Brookfield,Brookfield,WI,"[{'alias': 'newamerican', 'title': 'American (...",4.0,$$$,354,[delivery]
372,Apple Works Winery,Germantown,WI,"[{'alias': 'wineries', 'title': 'Wineries'}]",4.0,,4,[]
373,Chiselled Grape Winery,Cedarburg,WI,"[{'alias': 'wineries', 'title': 'Wineries'}]",4.0,$$,29,[]